name: Build and Release CS Providers

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Download Cloudstream JAR
        run: mkdir -p libs && wget -O libs/cloudstream.jar 'https://raw.githubusercontent.com/recloudstream/cloudstream-android-beta/master/app/libs/cloudstream.jar'

      - name: Generate Gradle Wrapper
        run: gradle wrapper --gradle-version 8.7

      - name: Build with Gradle
        run: ./gradlew assemble

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: build/repo.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
